/*
Yeah yeah bully me yeah
*/

body {
  color: #ddb;
  background-image: url("./boards/Starback.gif");
  background-color: #312C74;
  position: absolute;
  margin: 0;
  left: 50%;
  top: 20%;
  transform: translate(-50%, -20%);
}

a {
  color: #aa0;
  text-decoration: none;
}

a:visited {
  color: #aa0;
}

a:link:hover.Okay {
    color: #aa0;
	background-color: grey;
	transition: .2s ease;
}

h2 {
	text-align:center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img.SIGINT {
	height: 400px;
	border: 2px solid #aa0
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #DDDDBB;
}

.overlaytext {
	color: #000;
	text-align: center;
	position: absolute;
	transform: translate(-50%, -50%);
	top: 50%;
    left: 50%;
	font-size: 24px;
}
.Okay {
	padding:20px;
	border: 2px solid gray;
	border-radius: 8px;
}

.contentborder {
	padding: 25px 75px 25px;
	background-color: rgba(25, 25, 25, 0.3);
	border: 2px solid rgb(35, 35, 100);
}

.center {
	text-align: center;
}

.container:hover .overlay {
  opacity: 0.75;
}

.container {
  position: relative;
  width: 100%;
}
